<a href="https://colab.research.google.com/github/afkingshuk/UHart_ECE551_Neural-Nets/blob/CW/ECE551_Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Object Types

## Numbers

In [1]:
# Integer Addition
123 + 222

345

In [2]:
# Floating-point multiplication
1.5*4

6.0

In [3]:
# Power operation
2 ** 100

1267650600228229401496703205376

Besides expressions, there are a handful of a useful numeric modules that ship with Python - modules are just packages of additional tools we import to use:

In [4]:
import math
math.pi

3.141592653589793

In [5]:
math.sqrt(81)

9.0

## Strings

In [6]:
# Make a 4-character string, and assign it to a name
S = "Spam"
S

'Spam'

In [20]:
# Length
len(S)

4

In [8]:
# The first item in S, indexing by zero-based position
S[0]

'S'

In [9]:
# The second item from the left
S[1]

'p'

In [10]:
# The last item from the end in S
S[-1]

'm'

In [11]:
# The second to last item from the end
S[-2]

'a'

In [12]:
# Slice of S from offsets 1 through 2 (not 3)
S[1:3]

'pa'

In [13]:
# Everything past the first
S[1:]

'pam'

In [14]:
# Everything but the last
S[:3]

'Spa'

In [15]:
# All of S as a top-level copy
S[:]

'Spam'

In [16]:
# Concatenation
S + 'xyz'

'Spamxyz'

In [17]:
# Repetition
S * 8

'SpamSpamSpamSpamSpamSpamSpamSpam'

In [18]:
# Immutable objects cannot be changed
S[0] = 'z'

TypeError: 'str' object does not support item assignment

In [21]:
# But we can run expressions to make new objects
S = 'z' + S[1:]
S

'zpam'

In addition to generic sequence operations, though, strings also have operations all their own, available as *methods*—functions that are attached to and act upon a specific object.

In [22]:
S = 'Spam'

# Find the offset of a substring in S
S.find('am')

2

In [23]:
S.find?

In [24]:
S

'Spam'

In [25]:
# Replace occurrences of a string in S with another
S.replace('pa', 'XYZ')

'SXYZm'

In [26]:
# The original string is changed? or not
S

'Spam'

**Other methods:** Split, case conversions, test the content of the string, and strip white space characters off the ends of the string.

**Getting Help:** it returns a list of all the attributes available for any object passed to it.

In [27]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
S.replace?

## Lists

The Python list object is the most general sequence provided by the language. Lists are positionally ordered collections of arbitrarily typed objects, and they have no fixed size. They are also mutable—unlike strings.

In [30]:
# A list of three different-type objects
L = [123, 'spam', 1.23]

In [31]:
# Number of items in the list
len(L)

3

We can index, slice, and so on, just as for strings:

In [32]:
# Indexing by position
L[0]

123

In [33]:
# Slicing a list returns a new list
L[:-1]

[123, 'spam']

In [34]:
# Concat/repeat make a new lists too
L + [4, 5, 6]

[123, 'spam', 1.23, 4, 5, 6]

In [35]:
L * 2

[123, 'spam', 1.23, 123, 'spam', 1.23]

In [36]:
# We're not changing the original list
L

[123, 'spam', 1.23]

Further, lists have no fixed *size*. That is, they can grow and shrink on demand, in response to list-specific operations.

In [37]:
# Growing: add object at end of list
L.append('NI')
L

[123, 'spam', 1.23, 'NI']

In [38]:
# Shrinking: delete an item in the middle
L.pop(2)

1.23

In [39]:
# del L[2] deletes from a list too
L

[123, 'spam', 'NI']

Because lists are mutable, most list methods also change the list
object in place, instead of creating a new one:

In [40]:
M = ['bb', 'aa', 'cc']
M.sort()
M

['aa', 'bb', 'cc']

In [42]:
M.sort?

In [43]:
M.sort(reverse=True)
M

['cc', 'bb', 'aa']

In [44]:
M.reverse()
M

['aa', 'bb', 'cc']

In [45]:
help(M.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

**Nesting:** We can nest Python's core data types in any combination, and as deeply as we like. One immediate application of this feature is to represent matrices, or ``multidimensional arrays'' in Python.

In [46]:
# A 3 x 3 matrix, as nested lists; code can span lines if bracketed
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [47]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
# Get second item of M
M[0][1]

2

In [49]:
# Get row 2, then get item 3 within the row
M[1][2]

6

**Comprehensions:** In addition to sequence operations and list methods, Python includes a more advanced operation known as a list comprehension expression, which turns out to be a powerful way to process structures like our matrix.

In [50]:
# Collect the items in column 2
col2 = [row[1] for row in M]

col2

[2, 5, 8]

In [51]:
# Add 1 to each item in column 2
[row[1] + 1 for row in M]

[3, 6, 9]

In [52]:
# Filter out odd items
[row[1] for row in M if row[1] % 2 == 0]

[2, 8]

## Dictionaries

Python dictionaries are not sequences at all, but are instead known as mappings. They simply map keys to associated values. Dictionaries, the only mapping type in Python’s core objects set, are also mutable: like lists, they may be changed in place and can grow and shrink on demand.

In [53]:
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [54]:
# Fetch value of key 'food'
D['food']

'Spam'

In [55]:
# Add 1 to 'quantity' value
D['quantity'] += 1

D

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

You can start with an empty dictionary and fill it out one key at a time.

In [56]:
D = {}

# Create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

D

{'name': 'Bob', 'job': 'dev', 'age': 40}

**Nesting Revisited**: The following dictionary, coded all at once as a literal, captures more structured information.

In [57]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
       'jobs': ['dev', 'mgr'],
       'age': 40.5}

In [58]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [59]:
# Index the nested dictionary
rec['name']['last']

'Smith'

In [60]:
# 'jobs' is a nested list
rec['jobs']

['dev', 'mgr']

In [61]:
# Index the nested list
rec['jobs'][-1]

'mgr'

In [62]:
# Expand Bob's job description in place
rec['jobs'].append('janitor')

rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'jobs': ['dev', 'mgr', 'janitor'],
 'age': 40.5}

**Missing Keys:** Fetching a nonexistent key is a mistake.

In [63]:
D = {'a': 1, 'b': 2, 'c': 3}

D

{'a': 1, 'b': 2, 'c': 3}

In [64]:
# Assigning new keys grows dictionaries
D['e'] = 99

D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [65]:
# Referencing a nonexistent key is an error
D['f']

KeyError: 'f'

In [66]:
'f' in D

False

Besides the if test, there are a variety of ways to avoid accessing nonexistent keys in the dictionaries we create: the **get** method, a conditional index with a default.

In [67]:
# Index but with a default
value = D.get('h', "Not find")

value

'Not find'

In [68]:
help(D.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

## Tuples

The tuple object is roughly like a list that cannot be changed.(inmutable)

In [69]:
# A 4-item tuple parenthesis
T = (1, 2, 3, 4)

In [70]:
# Length
len(T)

4

In [71]:
# Concatenation
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [72]:
# Indexing, slicing, and more
T[0]

1

In [73]:
#Tuples are immutable
T[0] = 2
T

TypeError: 'tuple' object does not support item assignment

In [74]:
# Make a new tuple for a new value
T = (2,) + T[1:]
T

(2, 2, 3, 4)

Like lists and dictionaries, tuples support mixed types and nesting, but they don’t grow and shrink because they are immutable (the parentheses enclosing a tuple’s items can usually be omitted, as done here):

In [75]:
T = ('spam', 3.0, [11, 22, 33])
T

('spam', 3.0, [11, 22, 33])

In [76]:
T[1]

3.0

In [77]:
T[2][1]

22

In [78]:
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

## Sets

The set— an **ordered** and **non-repeting** collection of  **immutable** objects that supports operations corresponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work. a set acts much like the keys of a valueless dictionary, but it supports extra operations.

In [79]:
# define a set
S = {'s', 'p', 'a', 'm'}

In [80]:
S

{'a', 'm', 'p', 's'}

In [81]:
S.add('alot')

In [82]:
S

{'a', 'alot', 'm', 'p', 's'}

In [83]:
# the elements of set are non-repeting
S1 = {1, 2, 3, 4, 4}
S1

{1, 2, 3, 4}

In [84]:
# Intersection
S1 & {1, 3}

{1, 3}

In [85]:
# Union
{1, 5, 3, 6} | S1

{1, 2, 3, 4, 5, 6}

In [86]:
# Difference
S1 - {1, 3, 4}

{2}

In [87]:
# super set
S1 > {1, 3}

True

Sets can only contain **immutable** (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values.

In [88]:
S = set()
S.add(1.23)

In [89]:
S

{1.23}

In [90]:
# Only immutable objects work in a set
S.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [91]:
S.add({'a':1})

TypeError: unhashable type: 'dict'

In [92]:
S.add((1, 2, 3))

In [93]:
# No list or dict, but tuple OK
S

{(1, 2, 3), 1.23}

In [94]:
# Union: same as S.union(...)
S | {(4, 5, 6), (1, 2, 3)}

{(1, 2, 3), (4, 5, 6), 1.23}

In [95]:
S.add(([1,2], "ab"))

TypeError: unhashable type: 'list'

In [96]:
S

{(1, 2, 3), 1.23}

In [97]:
# Membership: by complete values
(1, 2, 3) in S

True

In [98]:
(1, 4, 3) in S

False

In [99]:
# Set comprehension
{x ** 2 for x in [1, 2, 3, 4, 4]}

{1, 4, 9, 16}

## 2. Python Statements

The general form of an ``if`` statement looks like this:

if test1:              # if test
    statement1         # associated block
elif test2:            # Optional elifs
    statements2
else:
    statements3        # Optional else

In [100]:
# Use if to write a piecewise function

x = -11


if x > 0:
    print (x*2)
elif x > -10:
    print (-x)
else:
    print (x)

-11

``While`` loop

While test:
    statements

In [101]:
x = 6

while x:
    x = x-1
    if x % 2 != 0: continue
    print(x)

4
2
0

``for`` loop

for target in object:
    statements

In [102]:
total = 0

for x in [1, 2, 3, 4]:
    total += x

total

10

### def Statements (Functions)

The ``def`` statement creates a function object and assigns it to a name.

def name(arg1, arg2, ..., argN):
    statements

Function bodies often contain a ``return`` statement.

def name(arg1, arg2, ..., argN):
    ...
    return value

**Definition**

In [103]:
def times(x, y):   # Create and assign function
    return x * y   # Body executed when called

**Calls**

In [104]:
times(2, 4)

8

In [105]:
output = times(3.14, 4)  # Save the result object
output

12.56

Let’s look at a second function example that does something a bit more useful.

In [106]:
def func(seq1, seq2):
    res = []               # Start empty
    for x in seq1:         # Scan seq1
        if x in seq2:      # Common item?
            res.append(x)  # Add to end
    return res

In [107]:
s1 = "SPAM"
s2 = "SCAM"

func(s1, s2)

['S', 'A', 'M']